.SellCar {
    .Hero {
        color: #FFF;
        height: 50vh;
        width: 100%;

        .TopHead {
            font-size: 56px;
            font-weight: 700;
        }

        .TopSubHead {
            font-size: 24px;
        }

    }
    .contentCol{
        display: flex;
        align-items: flex-end;
        .StepNumber{
            line-height:79px;
            font-size: 96px;
            color: #56575788;
            letter-spacing: -5px;
        }
    }
}