.CarsPagination {
    padding: 20px;
    .topRow{
        position: sticky;
        top: 0;
        padding-bottom: 20px;
        z-index: 1;
        background-color: #f4f7f8;
    }
    .emptyCars{
        width: 100%;
        
    }
    .emptyCarsText{
        text-align: center;
        color: #cb5416;
            
    }
}