.RecommendedCars {
    padding: 30px 0;
    // background: linear-gradient(to top, #565757 0, #fff 50%,);

    .card {
        margin: 20px;
        position: relative;
    height: 350px;
        overflow: hidden;

        &:hover {
            .gradient2 {
                top: 0;
                background: linear-gradient(to top, #000000f0 0%, #0004 50%);
            }
        }
    }

    .cardImage {
        height: 100%;
        width: 100%;
    }

    .gradient {
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, #0008 0%, rgba(0, 0, 0, 0) 50%);
    }

    .gradient2 {
        position: absolute;
        top: calc(100% - 70px);
        height: 100%;
        width: 100%;
        transition: top ease-in-out 0.5s;   
        padding: 40px 20px;
    }
    .carName{
        color: #FFF;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .carContent{
        position: absolute;
        top: calc( 100% - 180px);
    }
    .labels{
        display: inline-block;
        color: #333;
        padding: 5px 10px;
        border-radius: 8px;
        margin-bottom: 20px;
        background: #ddd;
    }
    .price{
        padding-left: 25px;
        color: #fff;
        font-size: 24px;
        font-weight: 600;
    }

    .viewButton{
        margin-right: 50px;
        padding:5px 20px ;
        background: #df4e3c;
    }
}