.HowItWorks {
    .sectionTitle {
        width: 100%;
        padding: 200px 0;
        background-color: #56575788;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 48px;
    }

    .contentRow {
        padding: 100px 0;

        &:nth-of-type(2n) {
            .contentCol {
                text-align: right;
                padding-right: 50px;

                @media screen and (max-width:767px) {
                    text-align: left;
                    padding-left: 50px;
                }
            }
        }
        &:nth-of-type(2n + 1) {
            .contentCol {
                text-align: left;
                padding-left: 50px;
                
            }
        }

        // overflow: hidden;
    }

    .rowImage {
        width: 100%;
    }

    .rowTitle {
        font-size: 30px;
        font-weight: 700;
    }
}