.Home {

    .howItWorksContainer {
        padding: 30px 0;
        // background: linear-gradient(to top, rgba(0, 0, 0, 0) 40px, #4d4e4d 100%), ;

        
    }

    .buyingConfidenceContainer {
        padding: 30px 0;
        // background: linear-gradient(to top, #df4e3c 0%, rgba(0, 0, 0, 0) 50%);

        .qualityAssuredImage {
            width: 100px;
        }
    }
    @media screen and (max-width:1000px) {

        .cardHead {
            font-size: 17px;
        }

        .cardBody {
            font-size: 12px;
        }
    }
    @media screen and (max-width:767px) {

        .cardHead {
            font-size: 20px;
        }

        .cardBody {
            font-size: 16px;
        }
    }
}