.FiltersContainer {
    font-family: "Roboto Mono", monospace;
    margin-right: 10px;
    position: sticky;
    padding: 0;
    top: 0;
    max-height:calc(100vh - 80px );
    overflow: hidden auto;
    .MainHeading{
        font-size: 16px;
        font-weight: bold;
        color: #cb5416;
        background-color: #565757;
        line-height: 30px;
    }

    .sectionHead{
        color: #cb5416;
        font-size: 16px;
        font-weight: bold;

    }
    .innerCheckBox{
        padding-left: 20px;

    }
    .makePanel{
        font-size: 16px;
        background-color: #fff;
    }
    .colorBotton{
        margin-right: 10px;
        border-radius: 5px;
        outline: none;
        margin-bottom: 10px;
    }

    .otherSpecsCol{
        
    }
}