.BuyCarDetails {}

.ImageButtons {
    background-color: #565757;
    color: white;
    height: 60px;
    font-size: 20px;
    border-radius: 8px;

    &:hover,&:active,&:focus {

        background-color: #565757;
        color: white;
        height: 60px;
        font-size: 20px;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #56575744;
    }
}

.carModal {
    font-size: 3rem;
    line-height: 1.25;
    font-weight: 900;
}

.carVariant {
    font-size: 1.5rem;
    line-height: 1.375;
    font-weight: 600;
}

.carPrice {
    padding-top: 15px;
    font-size: 2.25rem;
    font-weight: 600;
}

.testDriveContainer {
    background-color: #b8b7b7;
    border-radius: 0.3125rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px 0px, rgba(202, 202, 202, 0.2) 0px 1px 1px 0px;
    margin-top: 1.5rem;
    padding :35px;
    color: whitesmoke;
    font-size: 1.25rem;
    font-weight: 600;
}
.TestDriveButton{
    background-color: #cb5416;
    color: #f8f7f7;
    height: 50px;
    font-size: 20px;
    border-radius: 8px;
    border: none;
    margin-top: 20px;
    font-weight: 800;
    width: 100%;

    &:hover,&:active,&:focus {

        background-color: #cb5416;
        color: #f8f7f7;
        font-size: 20px;
        border-radius: 8px;
        box-shadow: 2px 2px 2px 2px #cb541644;
    }
}
.CarBasicRow{
    background-color: #e9e7e7;
    padding: 20px;

}

.CarBasicFeature{
    padding: 20px 10px;
    flex-grow: 1;
    margin: 0 15px;
    border-radius: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 20px   ;
    
}

.carColor{
    margin: auto;
    border-radius: 4px;
    height: 20px;
    width: 20px;
    line-height: 0px   ;
}

.DeviderText{
    font-size: 1.5rem;
    margin: 15px;
    font-weight: 800;
    font-family: "Roboto Mono", monospace;
}