.FAQs {

    // min-width: 527px;
    .FAQImageContainer {
        color: #FFF;
        height: 50vh;
        width: 100%;
    }

    .TopHead {
        font-size: 56px;
        font-weight: 700;
    }

    .TopSubHead {
        font-size: 24px;
    }

    .collapsePanel {
        font-size: 18px;
        font-weight: 700;
        color: #f44f10;
    }

    .answer {
        font-size: 16px;
        font-weight: lighter;
        color: #666666;
        padding-left: 40px;
    }
}