.TestDriveModal {
    .sectionHead{
        font-size: 18px;
        // color: white;
        font-weight: bolder;
        margin-bottom: 10px;
    }

    .formLabel{
        font-size: 14px;
        color: #a2a2a2;
        font-weight: bolder;
        margin-top: 10px;
    }
    .formInput{
        width: 100%;
    }
    .errorMessage{
        color: red;
        font-size: 11px;

    }
}