.sidebarContainer {
    position: absolute;
    top: 0;
    left: -206px;
    width: 200px;
    height: 100vh;
    overflow: hidden auto;
    background-color: #fff;
    transition: all ease-in-out 200ms;
    z-index: 1;
    box-shadow: 2px 0px 6px 0px #3338;

    .sidebarItemContainer {
        margin-top: 20px;
        padding: 0;
        list-style: none;
    }
}

.sidebarOffset {
    background-color: #f000;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.hamburgerButton {
    margin-bottom: 10px;
    margin-right: 10px;
    background: none;
    border: none;
    text-decoration: none;

    &:hover {
        background: none;
        color: initial;
    }
}

.NavBar {
    color: #333;
    font-family: 'Roboto Mono', monospace;
    height: 80px;

    @media screen and (max-width : 1024px) {
        height: max-content;

    }

    a,
    a:hover {
        color: #333;
        font-weight: 700;
        text-decoration: none;
    }

    .logoImg {
        pointer-events: none;
        height: 50px;
        max-width: 50vw;
    }

    .searchIcon {
        color: #ced4da;
        font-weight: 600;
        padding-top: 15px;
    }

    .collapse {
        background: #fff;
        z-index: 1;
    }
}

.callusContainer,
.callusContainer:hover {
    font-size: 8px;
    line-height: 12px;
    font-weight: 700;
    color: #ff8888;
}

.callusnumber {
    font-size: 12px;
}