.CarTypeGridContainer {
        padding: 30px 0;
        // background: linear-gradient(to top, #fff 0%, #df4e3c 100%);

    .card{
        padding: 0;
        position: relative;
        height: 200px;
    }
    .cardImage{
        height: 100%;
        width: 100%;
    }
    .gradient{
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 50%);
    }

    .gradient2{
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
    }
    .cardText{
        position: absolute;
        bottom: -10px;
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 2px;
        text-align: center;
        color: #fff;

    }
    .allCars{
        position: absolute;
        font-size: 20px;
        text-align: center;
        color: #fff;
        width: 100%;
        top: 70%;
        font-weight: 700;

    }
}