.Testimonials {
    padding: 30px 0;
    // background: linear-gradient(to top, #df4e3c 0, #fff 50%,);

    .card {
        margin: 20px;
        position: relative;
        overflow: hidden;

        &:hover {
            .gradient2 {
                top: 0;
                background: linear-gradient(to top, #000000f0 0%, #0004 50%);
            }
        }
    }

    .cardImage {
        height: 100%;
        width: 100%;
    }
}