.HeroComponent {

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // display: table;
}

.HeroComponentContainer {
    position: relative;
    top: 80px;
    text-align: center;

}

.TopHead {
    font-weight: 900;
    color: #535353;
    font-size: 2.5rem;
}

.SubHead {
    font-weight: 900;
    color: #535353;
    font-size: 20px;
}

.SelectRowContainer {
    margin-top: 20%;
}