.Blogs {
    color: #FFF;
    height: 50vh;
    width: 100%;

    .TopHead {
        font-size: 56px;
        font-weight: 700;
    }

    .TopSubHead {
        font-size: 24px;
    }

}

.blog {
    // background: linear-gradient(to top, #565757 0, #fff 40%);

    .tag {
        padding: 5px 10px;
        background-color: #cacaca;
        margin: 0 5px;
        border-radius: 8px;
        line-height: 43px;
        word-break: keep-all;
        word-wrap: inherit;
    }

    .abstract {
        margin-bottom: -20px;

    }

}