// @import 'mdbreact/dist/css/mdb.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/bootstrap";
@import "misc.scss";
@import 'antd/dist/antd.css';
@import "react-multi-carousel/lib/styles.css";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
/* simply assign the value */
$body-bg: #F4F7F8;
$primary: #df4e3c  ;
$secondary:#565757;
$font-color:#1B3A34;
$tablehead: #E8E8E8;
$border1: #D8D8D8;
$basecolor:#fff;
$white-bg: #FFFFFF;
$error: #FF452C;
$sidebar: #046A75;

/* or, use an existing variable */

/* -------end customization-------- */

// THEMENG
$theme-colors: ("primary": $primary,
  "danger": #ff4136,
  "green":#3CB06F,
  "gray":#979797,
  "secondary":$secondary);
$shades-dark: ("shade-6": #f5f5f5,
  "shade-5": #bdbdbd,
  "shade-4": #9e9e9e,
  "shade-3": #757575,
  "shade-2": #616161,
  "shade-1": #303437,
  "shade-0": #404447);

$colors-dark: ("shade1": #fff,
  "shade2": #eee,
  "primary-bg": #4A4A4A,
  "secondary-bg": #000,
  "bg3": #000,
  "bg4" :#4A4A4A,
  "bg5":rgba(255, 255, 255, 0.08),
  "bg6":#4A4A4A,
  "shadow": #00000016,
);

$theme-dark: ("bg-color": map-get($shades-dark, "shade-1"),
  "border-color": map-get($shades-dark, "shade-2"),
  "border-dark-color": map-get($shades-dark, "shade-3"),
  "text-color": map-get($shades-dark, "shade-6"),
  "muted": map-get($colors-dark, "slate"),
  "subtle": map-get($shades-dark, "shade-4"));

// light theme

$colors-light: ("shade1": #2996A2,
  "shade2": #1B3A34,
  "primary-bg": #fff,
  "secondary-bg": #eee,
  "bg3": #fff,
  "bg4" :#E5F3F5,
  "bg5":rgba(0, 0, 0, 0.08),
  "bg6":#f2f2f2,
  "shadow": #ffffff16,
  "secondary": $secondary);

$shades-light: ("shade-0": #ffffff,
  "shade-1": #f5f5f5,
  "shade-2": #834d4d,
  "shade-3": #bbbbbb,
  "shade-4": #979797,
  "shade-5": #535353,
  "shade-6": #0c0c0c);

$theme-light: ("bg-color": map-get($shades-light, "shade-1"),
  "border-color": map-get($shades-light, "shade-2"),
  "border-dark-color": map-get($shades-light, "shade-3"),
  "text-color": map-get($shades-light, "shade-6"),
  "muted": map-get($colors-light, "slate"),
  "subtle": map-get($shades-light, "shade-4"));
// app

// @import 'src/forms.scss';
// define a css variable for each shade
.app {

  @each $name,
  $color in $shades-light {
    --#{$name}: #{$color}   ;
  }

  // define a css variable for each color
  @each $name,
  $color in $colors-light {
    --#{$name}: #{$color} ;
  }

  // define a css variable for each theme color
  @each $name,
  $color in $theme-light {
    --#{$name}: #{$color} ;
  }

  @each $color,
  $value in $theme-colors {
    .swatch-#{$color} {
      color: color-yiq($value);
    }
  }
}

/* finally, import Bootstrap to set the changes! */
@import "bootstrap";

html body {
  margin: 0;
  font-family: 'Nunito', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body div {
  scrollbar-width: thin !important;

  /* chrome */

}

/* width */
body div::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
body div::-webkit-scrollbar-track {
  background: #F6F6F7;
}

/* Handle */
body div::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
body div::-webkit-scrollbar-thumb:hover {
  background: #555;
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

//radio button and check-box
input[type=radio]::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

input[type=radio]::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffa500;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.btn {
  padding: 5px 30px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  color: #fff;
}

// .btn-secondary,
// .btn-secondary:hover,
// .btn-secondary:active,
// .btn-secondary:visited,
// .btn-secondary:focus {
//   color: $wh;
// }

.bold {
  font-weight: 600 !important;
}

.main {
  height: calc(100vh - 80px);

  @media screen and (max-width:1024px) {
    height: calc(100vh - 127px);

  }

  width: 100vw;
  overflow: auto;
}

a{
  text-decoration: none;
  color: inherit;
}