.ant-modal-content,
.ant-modal-body {
    background: #fff0;
}

.ant-slider-mark .ant-slider-mark-text {
    &::before{
        content: '\20B9';
    }
    &:last-child {
        // right: 0 !important;
        left: calc(100% - 2rem) !important;
    }
}