.HomeCarFilters {
    padding: 30px 0;
    // background: linear-gradient(to top, #fff 0, #df4e3c 50%, );
    .link{
        text-decoration: none;
        font-size: 18px;
        color: #000;
        &:hover{
            text-shadow: 2px 2px #565757;
        }
    }
}